.search-table {
  :global {
    .ant-table-pagination.ant-pagination {
      margin-bottom: 0;
    }
  }
}

.header {
  margin-bottom: 16px;

  :global {
    .ant-pagination-total-text {
      line-height: 32px;
    }
  }
}
