.back {
  background: #f0f2f5;
  border-radius: 16px;
  padding: 0 16px;
  line-height: 32px;
  display: inline-block;
  margin-bottom: 16px;
  color: #616161;
  cursor: pointer;
}

.icon {
  color: #909090;
  margin-right: 4px;
}
