.header {
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 22px;
  line-height: 32px;
  font-weight: 700;
  color: #343434;
}

.fresh {
  margin-left: 16px;
  display: inline-block;
}

.icon {
  color: #00bc70;
  font-size: 14px;
  vertical-align: baseline;
  cursor: pointer;
}
