.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.right {
  transition: all 0.2s;
}

.header {
  padding: 0;
  background: #ffffff;
}

.content {
  padding: 24px;
  overflow: initial;
}

.trigger {
  display: inline-block;
  margin: 0 24px;
  font-size: 20px;
  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    color: #1890ff;
  }
}

.header-right {
  float: right;
}
